<div style="justify-content: center; display: flex" class="loginColor">
  <div style="display: block">
    <div
      style="
        text-align: center;
        border: 1px solid #c4bbbb;
        width: 450px;
        margin-top: 10px;
        border-radius: 5px;
      "
    >
      <div style="margin-bottom: 50px; margin-top: 75px">Vartalaap</div>
      <div style="margin-bottom: 30px">
        Login to see what your friends shared!
      </div>

      <div [formGroup]="form">
        <div class="box">
          <input
            [ngClass]="{
              'input-error':
                (submitted && form.controls.Username.status == 'INVALID') ||
                (form.controls.Username.touched &&
                  form.controls.Username.status == 'INVALID')
            }"
            placeholder="Username*"
            class="input"
            formControlName="Username"
          />

          <div>
            <mat-error
              *ngIf="
                (submitted && form.controls.Username.status == 'INVALID') ||
                (form.controls.Username.touched &&
                  form.controls.Username.status == 'INVALID')
              "
              >Please enter username.</mat-error
            >
          </div>
        </div>
        <div class="box">
          <input
            style="padding-right: 32px"
            [type]="showPassword ? 'text' : 'password'"
            [ngClass]="{
              'input-error':
                (submitted && form.controls.Password.status == 'INVALID') ||
                (form.controls.Password.touched &&
                  form.controls.Password.status == 'INVALID')
            }"
            placeholder="Password*"
            class="input"
            formControlName="Password"
          />
          <i
            class="eyeIcon"
            [class]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"
            (click)="eyeIconClick()"
          ></i>
          <div>
            <mat-error
              *ngIf="
                (submitted && form.controls.Password.status == 'INVALID') ||
                (form.controls.Password.touched &&
                  form.controls.Password.status == 'INVALID')
              "
              >Please enter password.</mat-error
            >
          </div>
        </div>
      </div>

      <div>
        <mat-error>{{ errorMessage }}</mat-error>
      </div>

      <div
        style="
          justify-content: center;
          display: flex;
          margin-top: 20px;
          margin-bottom: 10px;
          text-align: center;
        "
      >
        <div
          (click)="logIn()"
          style="
            background: rgb(52, 165, 241);
            width: 268px;
            color: white !important;
            border-radius: 7px;
            align-content: center;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
          "
        >
          Log In
        </div>
      </div>
      <div style="margin-bottom: 10px">
        <span class="linkButton" (click)="forgotPassword()"
          >Forgot Password?</span
        >
      </div>
    </div>

    <div
      style="
        text-align: center;
        border: 1px solid #c4bbbb;
        width: 450px;
        margin-top: 10px;
        border-radius: 5px;
        padding-bottom: 25px;
        padding-top: 25px;
      "
    >
      <span style="margin-right: 10px">Don't have an account?</span>
      <span (click)="signUp()" class="linkButton">Signup</span>
    </div>
  </div>
</div>
