<div style="justify-content: center; display: flex">
  <div style="display: block">
    <div
      style="
        text-align: center;
        border: 1px solid #c4bbbb;
        width: 450px;
        margin-top: 10px;
        border-radius: 5px;
      "
    >
      <div style="margin-bottom: 50px; margin-top: 75px">Vartalaap</div>
      <div style="margin-bottom: 30px">
        Sign up to see photos and videos
        <br />
        from your friends.
      </div>
      <div [formGroup]="signupForm">
        <div class="box">
          <input
            [ngClass]="{
              'input-error':
                (submitted && signupForm.controls.Email.status == 'INVALID') ||
                (signupForm.controls.Email.touched &&
                  signupForm.controls.Email.status == 'INVALID')
            }"
            placeholder="Mobile Number or Email"
            class="input"
            formControlName="Email"
          />
          <div>
            <mat-error
              *ngIf="
                (submitted && signupForm.controls.Email.status == 'INVALID') ||
                (signupForm.controls.Email.touched &&
                  signupForm.controls.Email.status == 'INVALID')
              "
              >{{ getEmailErrorMessage() }}</mat-error
            >
          </div>
        </div>
        <div class="box">
          <input
            [ngClass]="{
              'input-error':
                (submitted && signupForm.controls.Name.status == 'INVALID') ||
                (signupForm.controls.Name.touched &&
                  signupForm.controls.Name.status == 'INVALID')
            }"
            placeholder="Name"
            class="input"
            formControlName="Name"
          />
          <div>
            <mat-error
              *ngIf="
                (submitted && signupForm.controls.Name.status == 'INVALID') ||
                (signupForm.controls.Name.touched &&
                  signupForm.controls.Name.status == 'INVALID')
              "
              >Please enter name.</mat-error
            >
          </div>
        </div>
        <div class="box">
          <input
            [ngClass]="{
              'input-error':
                (submitted && signupForm.controls.Username.status == 'INVALID') ||
                (signupForm.controls.Username.touched &&
                  signupForm.controls.Username.status == 'INVALID')
            }"
            placeholder="Username"
            class="input"
            formControlName="Username"
          />

          <div>
            <mat-error
              *ngIf="
                (submitted && signupForm.controls.Username.status == 'INVALID') ||
                (signupForm.controls.Username.touched &&
                  signupForm.controls.Username.status == 'INVALID')
              "
              >Please enter username.</mat-error
            >
          </div>
        </div>
        <div class="box">
          <input
            [ngClass]="{
              'input-error':
                (submitted && signupForm.controls.Password.status == 'INVALID') ||
                (signupForm.controls.Password.touched &&
                  signupForm.controls.Password.status == 'INVALID')
            }"
            placeholder="Password"
            class="input"
            formControlName="Password"
          />
          <div>
            <mat-error
              *ngIf="
                (submitted && signupForm.controls.Password.status == 'INVALID') ||
                (signupForm.controls.Password.touched &&
                  signupForm.controls.Password.status == 'INVALID')
              "
              >Please enter password.</mat-error
            >
          </div>
        </div>
      </div>

      <div
        style="
          justify-content: center;
          display: flex;
          margin-top: 20px;
          margin-bottom: 30px;
          text-align: center;
        "
        class="loginClick"
      >
        <div
          (click)="signup()"
          style="
            background: rgb(52, 165, 241);
            width: 268px;
            color: white;
            border-radius: 7px;
            align-content: center;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
          "
        >
          Sign up
        </div>
      </div>
      <!-- <div style="padding-bottom: 10px">
        <span style="color: red">Please enter username/password</span>
      </div> -->
      <div style="display: flex; justify-content: center; align-items: center">
        <div
          style="
            border-bottom: 1px solid #c4bbbb;
            width: 100px;
            margin-right: 20px;
          "
        ></div>
        <div>OR</div>
        <div
          style="
            border-bottom: 1px solid #c4bbbb;
            width: 100px;
            margin-left: 20px;
          "
        ></div>
      </div>
      <div
        style="
          align-items: center;
          display: flex;
          justify-content: center;
          margin-top: 30px;
        "
      >
        <img src="./assets/img/facebook.png" width="25" height="25" />
        <div style="margin-left: 10px">Log in with facebook</div>
      </div>
      <div style="margin-top: 20px; margin-bottom: 20px">
        <div style="color: rgb(0, 0, 175)">Forgot Password?</div>
      </div>
    </div>

    <div
      style="
        text-align: center;
        border: 1px solid #c4bbbb;
        width: 450px;
        margin-top: 10px;
        border-radius: 5px;
        padding-bottom: 25px;
        padding-top: 25px;
      "
    >
      <span style="margin-right: 10px">Already have an account?</span>
      <span (click)="login()" style="color: rgb(0, 0, 175)">login</span>
    </div>
  </div>
</div>
