<div style="justify-content: center; display: flex;">
  <div style="display: block;">
    <div
      style="
        text-align: center;
        border: 1px solid #c4bbbb;
        width: 450px;
        margin-top: 10px;
        border-radius: 5px;
      "
    >
      <div style="margin-bottom: 50px; margin-top: 75px;">
        Vartalaap
      </div>
      <div style="margin-bottom: 30px;">
        Sign up to see photos and videos
        <br />
        from your friends.
      </div>
      <div class="Username">
        <input placeholder="Mobile Number or Email" class="input" />
      </div>
      <div>
        <input placeholder="Full Name" class="input" />
      </div>
      <div>
        <input placeholder="Username" class="input" />
      </div>
      <div>
        <input placeholder="Password" class="input" />
      </div>

      <div
        style="
          justify-content: center;
          display: flex;
          margin-top: 20px;
          margin-bottom: 30px;
          text-align: center;
        "
        class="loginClick"
      >
        <div
          (click)="signup()"
          style="
            background: rgb(52, 165, 241);
            width: 268px;
            color: white;
            border-radius: 7px;
            align-content: center;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
          "
        >
          Sign up
        </div>
      </div>
      <div style="padding-bottom: 10px;">
        <span style="color: red;">Please enter username/password</span>
      </div>
      <div style="display: flex; justify-content: center; align-items: center;">
        <div
          style="
            border-bottom: 1px solid #c4bbbb;
            width: 100px;
            margin-right: 20px;
          "
        ></div>
        <div>OR</div>
        <div
          style="
            border-bottom: 1px solid #c4bbbb;
            width: 100px;
            margin-left: 20px;
          "
        ></div>
      </div>
      <div
        style="
          align-items: center;
          display: flex;
          justify-content: center;
          margin-top: 30px;
        "
      >
        <img src="./assets/img/facebook.png" width="25" height="25" />
        <div style="margin-left: 10px;">Log in with facebook</div>
      </div>
      <div style="margin-top: 20px; margin-bottom: 20px;">
        <div style="color: rgb(0, 0, 175);">Forgot Password?</div>
      </div>
    </div>

    <div
      style="
        text-align: center;
        border: 1px solid #c4bbbb;
        width: 450px;
        margin-top: 10px;
        border-radius: 5px;
        padding-bottom: 25px;
        padding-top: 25px;
      "
    >
      <span style="margin-right: 10px;">Don't have an account?</span>
      <span (click)="login()" style="color: rgb(0, 0, 175);">login</span>
    </div>
  </div>
</div>
