<div style="display: flex; max-height: 90vh" class="mainColors backGroundColor">
  <div style="width: 100%; display: flex; flex-direction: column">
    <div
      style="
        padding: 10px 0 10px 0;
        display: flex;
        border-bottom: 1px solid #0a3754;
        flex: 0 0 auto;
      "
    >
      <div style="width: 90%; margin-left: 10px">
        <div style="font-weight: bold; align-items: center; display: flex">
          Add Post
        </div>
      </div>
      <!-- <div style="width: 10%; text-align: end; margin-right: 5px">
        <div>
          <mat-icon (click)="close()">close</mat-icon>
        </div>
      </div> -->
      <div class="classIcon">
        <mat-icon
          style="padding-top: 1.6px; padding-left: 0.4px"
          (click)="close()"
          >close</mat-icon
        >
        <!-- style="padding-top: 2px; padding-left: 1px" -->
      </div>
    </div>

    <div style="flex: 1; overflow-y: auto">
      <div style="margin: 20px">
        <div class="mainBorder" style="width: 100%; background: #010f18">
          <span
            class="textarea"
            role="textbox"
            contenteditable
            #captionControl
          ></span>
        </div>
      </div>

      <div
        *ngIf="images"
        class="backGroundColor"
        style="justify-content: center; padding-bottom: 20px; display: flex"
      >
        <div id="container">
          <div
            style="position: relative"
            *ngFor="let element of getLimitedItems()"
            class="box"
            [ngStyle]="getStyle()"
          >
            <div class="classIcon">
              <mat-icon
                style="padding-top: 1.6px; padding-left: 0.4px"
                (click)="deleteImage(element)"
                >close</mat-icon
              >
              <!-- style="padding-top: 2px; padding-left: 1px" -->
            </div>
            <img
              style="
                width: 100%;
                height: 100%;
                border-radius: 10px;
                object-fit: cover;
              "
              src="{{ element }}"
              alt="Users Pics"
              class="allPosts"
            />
          </div>
          <div
            *ngIf="images.length > 4"
            style="width: 100%; display: flex; justify-content: end"
          >
            <div
              style="cursor: pointer; display: flex; align-items: center"
              (click)="showMoreImages()"
            >
              <div *ngIf="!showAllImages" style="margin-right: 10px">
                + {{ images.length - 4 }} more image(s)
              </div>
              <div *ngIf="showAllImages" style="margin-right: 10px">Hide</div>
              <div>
                <fa-icon
                  style="cursor: pointer"
                  class="post-actions-icons"
                  [icon]="
                    showAllImages ? faChevronCircleUp : faChevronCircleDown
                  "
                  transform="grow-1"
                ></fa-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      style="
        width: 100%;
        flex: 0 0 auto;
        align-items: center;
        display: flex;
        padding: 15px 20px 15px 20px;
        border-top: 1px solid #0a3754;
      "
      class="backGroundColor"
    >
      <div style="width: 80%">
        <div>
          <input
            accept="image/png, image/jpeg, image/jpg"
            type="file"
            class="file-input"
            multiple
            (change)="onFileSelected($event)"
            (click)="onFileClick($event)"
            #fileUpload
          />

          <div class="file-upload" style="display: flex; align-items: center">
            <div
              *ngIf="images.length > 0"
              style="font-size: 14px; margin-right: 10px"
            >
              {{ images.length }} file(s) selected
            </div>
            <div>
              <fa-icon
                style="cursor: pointer"
                (click)="fileUpload.click()"
                class="post-actions-icons"
                [icon]="faImage"
                transform="grow-2"
              ></fa-icon>
            </div>
          </div>
        </div>
      </div>
      <div style="width: 20%; display: flex">
        <div class="mainButtonBackgound" style="margin-right: 10px">
          <div style="padding: 3px; font-size: 14px" (click)="close()">
            Cancel
          </div>
        </div>
        <div class="mainButtonBackgound">
          <div
            style="padding: 3px; font-size: 14px"
            (click)="post(captionControl)"
          >
            Post
          </div>
        </div>
        <!-- <div class="mainButton" (click)="post()">Post</div> -->
      </div>
    </div>
  </div>
</div>
