#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  /* width: 49%; */
  padding: 2px;
  /* margin-top: 20px; */
  /* margin-bottom: 20px; */
  border-bottom: 2px solid #0a3754;
  /* padding-bottom: 10px; */
  width: 100%;
  text-align: center;
}

.allPosts {
  /* width: 100%;
    height: 300px; */
  max-width: 100%;
  cursor: pointer;
  border-radius: 10px;
  /* margin: 2px; */
  /* height: 100%; */
}

.gridIcon {
  color: #a4a4a4;
  width: 23px;
}

.gridIcon:hover {
  color: white;
  background: #d7d4d494;
  border: 1px solid #9f9c9ccc;
  border-radius: 6px;
}

.likesText {
  font-size: 14px;
}

.likeIcon {
  height: auto;
  font-size: 18px;
}
