
.button2 {
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 14%;
    margin-bottom: 14%;
  }
  
  .button2 .new {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button2 .new:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    text-align: center;
    align-items: center;
    display: flex;
    padding: 6%;
  }
  
  .button2:hover .new {
    /* padding-right: 25px; */
    background-color: #a4a4a466;
    border-radius: 5px;
    /* width: 100%; */
    padding: 6%;
    text-align: center;
    align-items: center;
    display: flex;
  }
  
  .button2:hover .new:after {
    opacity: 1;
    right: 0;
    padding: 6%;
  }
  