<div
  style="
    padding-left: 14%;
    padding-right: 14%;
    margin-top: 20%;
    font-size: 18px;
  "
>
  <div
    style="border: 1px solid #0a3754;
    background: #001828;
    border-radius: 6px;"
  >
    <div>
      <div class="left-nav-icons button2"><span class="new">Home </span></div>
      <div class="left-nav-icons button2"><span class="new">Search </span></div>
      <div class="left-nav-icons button2">
        <span class="new">Notification </span>
      </div>
      <div class="left-nav-icons button2">
        <span class="new">Messages </span>
      </div>
      <div class="left-nav-icons button2">
        <span class="new">Settings </span>
      </div>
    </div>
  </div>
</div>
