<div class="mainPadding">
  <div class="mainBorder">
    <div>
      <div
        *ngFor="let element of listData"
        class="button2"
        (click)="setRoute(element)"
      >
        <div
          class="new"
          style="display: flex; align-items: center"
          [ngStyle]="
            element.clicked == true
              ? {
                  'font-weight': 'bold',
                  color: 'bisque'
                }
              : {}
          "
        >
          <div class="matIconManual">
            <mat-icon>{{ element.iconName }}</mat-icon>
          </div>
          <div>{{ element.name }}</div>
        </div>
      </div>

      <div class="button2">
        <div class="new" style="display: flex; align-items: center" (click)="addPost()">
          <div class="matIconManual">
            <mat-icon>add_photo_alternate</mat-icon>
          </div>
          <div>Add Post</div>
        </div>
      </div>
    </div>
  </div>
</div>
