/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

body {
  display: block;
  margin: 0px;
}

* {
  font-family: Raleway /* Replace with your custom font */, sans-serif !important;
  /* Add !important to overwrite all elements */

  /* color: white; */
}

.material-icons {
  font-family: "Material Icons" !important;
  font-size: 21px;
}

* {
  font-size: 16px;
}

/* body {	 */
/* background: linear-gradient(141deg, #010311 0%, #1b5a63 51%, #290220 75%); */
/* background: linear-gradient(to bottom, #B721FF, #2AF598, #fec051, #FEE140, #FA709A );
	background-size: 100%;
	background-repeat: no-repeat; */

/* } */

/* .mainPadding { */
/* padding-left: 14%;
  padding-right: 14%; */
/* padding-top: 15px; */
/* } */

.mainBorder {
  border: 1px solid #0a3754;
  background: #001828;
  border-radius: 6px;
  padding: 3%;
}

::-webkit-scrollbar {
  width: 0px;
  height: 4px;
  overflow-y: scroll;
  background: grey;
  box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

mat-icon {
  cursor: pointer;
}

.ind-post-data {
  margin-right: 8px;
}

.matIconManual {
  margin-right: 3%;
}

.mainColors {
  background: #010f18;
  color: white;
}

.navBarBorder {
  border: 1px solid #0a3754;
  background: #001828;
  border-radius: 0px 0px 6px 6px;
}

.post-actions {
  margin-right: 8px;
  width: 33.3%;
  justify-content: center;
  display: flex;
  cursor: pointer;
  align-items: center;
}

.post-actions-icons:hover {
  color: #d5d5d5;
}

ngb-carousel .wrapper {
  position: relative;
  height: 0;
  padding-top: 55%; /* Keep ratio for 900x500 images */
}

ngb-carousel .wrapper > img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.visually-hidden {
  display: none !important;
}

.carousel-control-next {
  border: none !important;
  background-color: rgb(255 255 255 / 0%) !important;
}

.carousel-control-prev {
  border: none !important;
  background-color: rgb(255 255 255 / 0%) !important;
}

.carousel-indicators {
  margin-bottom: 10px !important;
  opacity: 0.4 !important;
}

.profilePic {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  max-width: 100%;
  border: 1px solid #1e3664;
  cursor: pointer;
}

.profilePicUser {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  max-width: 100%;
  /* border: 1px solid #1e3664; */
  cursor: pointer;
}

.backgoundPic {
  width: 100%;
  height: 300px;
  /* border-radius: 50%; */
  max-width: 100%;
  /* border: 1px solid #1e3664; */
  cursor: pointer;
}

.name {
 font-weight: bold;
}

.userName {
  color: cadetblue;
  font-size: 14px;
}

.bio {
  color: #e3d3d3;
  font-size: 14px;
}

.tabText {
  font-size: 14px;
  margin-right: 5px;
  font-weight: bold;
}

.tabNumbers {
  font-size: 14px;
  color: bisque;
  font-weight: bold;
}

.mainButton {
  border: 1px solid #cccccce8;
  background-color: #8d8d8d;
  border-radius: 6px;
  cursor: pointer;
  justify-content: center;
  display: flex;
  font-size: 14px;
}

.mainButton:hover {
  background: #7d7d7d9c;
}

.mainButtonFollowing {
  border: 1px solid #cccccce8;
  background-color: rgb(1, 15, 24);
  border-radius: 6px;
  cursor: pointer;
  justify-content: center;
  display: flex;
  font-size: 14px;
}

.mainButtonFollowing:hover {
  background: #7d7d7d9c;
}

.mainButtonBackgound {
  border: 1px solid #9f9c9ccc;
  background-color: #8d8d8d30;
  border-radius: 6px;
  cursor: pointer;
  justify-content: center;
  display: flex;
  font-size: 14px;
}

.mainButtonBackgound:hover {
  background: #7d7d7d9c;
}

.profileTab {
  cursor: pointer;
  width: 33%;
  text-align: center;
}

.profileTab:hover {
  border-radius: 10px 10px 0px 0px;
  background: #8d8d8d30;
}

.centreBlock {
  overflow: scroll;
  height: 100vh;
  overflow-x: hidden;
}
