/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";

html,
body {
  display: block;
  margin: 0px;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

/* 
* {
  font-family: Raleway , sans-serif !important;
} */

.material-icons {
  font-family: "Material Icons" !important;
  font-size: 21px;
}

* {
  font-size: 16px;
}

/* body {	 */
/* background: linear-gradient(141deg, #010311 0%, #1b5a63 51%, #290220 75%); */
/* background: linear-gradient(to bottom, #B721FF, #2AF598, #fec051, #FEE140, #FA709A );
	background-size: 100%;
	background-repeat: no-repeat; */

/* } */

/* .mainPadding { */
/* padding-left: 14%;
  padding-right: 14%; */
/* padding-top: 15px; */
/* } */

.mainBorder {
  border: 1px solid #0a3754;
  background: #001828;
  border-radius: 6px;
  padding: 3%;
}

::-webkit-scrollbar {
  width: 0px;
  height: 4px;
  overflow-y: scroll;
  background: grey;
  box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

mat-icon {
  cursor: pointer;
}

.ind-post-data {
  margin-right: 8px;
}

.matIconManual {
  margin-right: 3%;
}

.mainColors {
  background: #010f18;
  color: white;
}

.mainColorsPopup {
  background: #001828;
  color: white;
}

.navBarBorder {
  border: 1px solid #0a3754;
  background: #001828;
  border-radius: 0px 0px 6px 6px;
}

.post-actions {
  margin-right: 8px;
  width: 33.3%;
  justify-content: center;
  display: flex;
  cursor: pointer;
  align-items: center;
}

.post-actions-icons:hover {
  color: #d5d5d5;
}

ngb-carousel .wrapper {
  position: relative;
  height: 0;
  padding-top: 55%; /* Keep ratio for 900x500 images */
}

ngb-carousel .wrapper > img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.visually-hidden {
  display: none !important;
}

.carousel-control-next {
  border: none !important;
  background-color: rgb(255 255 255 / 0%) !important;
}

.carousel-control-prev {
  border: none !important;
  background-color: rgb(255 255 255 / 0%) !important;
}

.carousel-indicators {
  margin-bottom: 10px !important;
  opacity: 0.4 !important;
}

.profilePic {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  max-width: 100%;
  border: 1px solid #1e3664;
  cursor: pointer;
  object-fit: cover;
  object-position: top;
}

.profilePicUser {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  max-width: 100%;
  /* border: 1px solid #1e3664; */
  cursor: pointer;
}

.backgoundPic {
  width: 100%;
  height: 300px;
  /* border-radius: 50%; */
  max-width: 100%;
  /* border: 1px solid #1e3664; */
  cursor: pointer;
}

.name {
  font-weight: bold;
}

.userName {
  color: cadetblue;
  font-size: 14px;
}

.bio {
  color: #e3d3d3;
  font-size: 14px;
}

.time {
  color: darkgray;
  font-size: 14px;
}

.website {
  font-size: 14px;
  cursor: pointer;
}

.website:hover {
  text-decoration: underline;
  color: #3f7fe6d9;
}

.tabText {
  font-size: 14px;
  margin-right: 5px;
  font-weight: bold;
}

.tabNumbers {
  font-size: 14px;
  color: bisque;
  font-weight: bold;
}

.mainButton {
  border: 1px solid #cccccce8;
  background-color: #8d8d8d;
  border-radius: 6px;
  cursor: pointer;
  justify-content: center;
  display: flex;
  font-size: 14px;
}

.mainButton:hover {
  background: #7d7d7d9c;
}

.mainButtonFollowing {
  border: 1px solid #cccccce8;
  background-color: rgb(1, 15, 24);
  border-radius: 6px;
  cursor: pointer;
  justify-content: center;
  display: flex;
  font-size: 14px;
}

.mainButtonFollowing:hover {
  background: #7d7d7d9c;
}

.mainButtonBackgound {
  border: 1px solid #9f9c9ccc;
  background-color: rgb(42 49 57 / 42%);
  border-radius: 6px;
  cursor: pointer;
  justify-content: center;
  display: flex;
  font-size: 14px;
}

.mainButtonBackgound:hover {
  background-color: rgb(161 169 178 / 63%);
  /* background-color: #34343494; */
  /* background-color: #e9e5e533; */
  /* background: #7d7d7d9c; */
}

.profileTab {
  cursor: pointer;
  width: 33%;
  text-align: center;
}

.profileTab:hover {
  border-radius: 10px 10px 0px 0px;
  background: #8d8d8d30;
}

.centreBlock {
  overflow: scroll;
  height: 100vh;
  overflow-x: hidden;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  background: #010f18 !important;
  color: white !important;
}

.classIcon {
  border-radius: 50%;
  position: absolute;
  text-align: center;
  background: black;
  right: 8px;
  top: 8px;
  backdrop-filter: blur(4px);
  background-color: rgba(15, 20, 25, 0.75);
}
.classIcon:hover {
  background-color: rgb(66 68 70 / 75%);
}

.linkButton {
  color: rgb(0, 0, 175);
  cursor: pointer;
}
.popUpButton {
  min-width: 4em;
  border: 1px solid #a2a2a2;
  background: white;
  border-radius: 10px;
  padding: 3px 10px;
}
.popUpButton:hover {
  background: #f7f7f7;
}
.popUpButton:focus {
  outline: none;
}

.popupColors {
  min-width: 40vw;
  min-height: 35vh;
  background: white;
  color: black;
  text-align: center;
}

.box {
  margin-bottom: 8px;
}

.input {
  width: 268px;
  height: 35px;
  /* margin-bottom: 8px; */
  border: 1px solid #e1dfdff5;
  border-radius: 4px;
  padding-left: 8px;
  background: #efeded6b;
}

.input-error {
  border: red 1px solid !important;
}

.input:focus {
  outline: 1px solid rgb(75, 75, 75);
}

.eyeIcon {
  position: absolute;
  cursor: pointer;
  margin-top: 9px;
  margin-left: -25px;
}

.imgIcon {
  color: #ffffffc2;
  cursor: pointer;
  background-color: rgb(42 49 57 / 42%);
  border-radius: 50%;
  padding: 7px;
}

.imgIcon:hover {
  color: #e4e4e4c2;
}

.imgIcon2 {
  border: 1px solid #9f9c9ccc;
  background-color: rgb(42 49 57 / 42%);
  border-radius: 6px;
  cursor: pointer;
  justify-content: center;
  display: flex;
  font-size: 14px;
  padding: 7px;
}

.imgIcon2:hover {
  /* color: #e4e4e4c2; */
  background-color: rgb(161 169 178 / 63%);
}

.noAvatar{
  color: #d1d2d2ba;
}
