<div class="mainColorsPopup">
  <div>
    <!-- style="width: 1000px" -->
    <div
      class="imageTransition"
      style="
        justify-content: center;
        display: flex;
        width: 100%;
        background: black;
        position: relative;
      "
    >
      <!-- <div style="right: 3px; top: 3px; position: absolute">
        <mat-icon (click)="close()">close</mat-icon>
      </div> -->
      <div class="classIcon">
        <mat-icon
          style="padding-top: 1.6px; padding-left: 0.4px"
          (click)="close()"
          >close</mat-icon
        >
      </div>
      <img alt="Picture" style="max-height: 90vh" src="{{ post }}" />
    </div>
  </div>
</div>
