<div>
  <div
    *ngFor="let element of userData"
    style="padding: 2%; border-bottom: 1px solid #0a3754"
  >
    <div style="display: flex; align-items: center; width: 100%">
      <div style="width: 80%; display: flex">
        <div
          class="ind-post-data"
          style="
            border: 1px solid #151414;
            border-radius: 50%;
            margin-right: 2%;
            width: 10%;
          "
        >
          <img class="profilePic" alt="Avatar" src="{{element.imgUrl}}" />
        </div>
        <div style="width: 90%">
          <div  class="name">{{element.name}}</div>
          <div class="userName">@{{element.username}}</div>
          <div class="bio">{{element.caption}}</div>
        </div>
      </div>

      <div style="width: 20%">
        <div *ngIf="showTab == 'followers'" class="mainButton">Follow</div>
        <div *ngIf="showTab == 'following'" class="mainButtonFollowing">
          Following
        </div>
      </div>
    </div>
  </div>
</div>
