<div class="popupColors">
  <div style="background: aliceblue; padding: 10px">Reset your password</div>
  <div style="margin: 20px" [formGroup]="form">
    <div class="box">
      <input type="text"
        [ngClass]="{
          'input-error':
            (submitted && form.controls.Username.status == 'INVALID') ||
            (form.controls.Username.touched &&
              form.controls.Username.status == 'INVALID')
        }"
        placeholder="Username*"
        class="input"
        formControlName="Username"
      />

      <div>
        <mat-error
          *ngIf="
            (submitted && form.controls.Username.status == 'INVALID') ||
            (form.controls.Username.touched &&
              form.controls.Username.status == 'INVALID')
          "
          >Please enter username.</mat-error
        >
      </div>
    </div>
    <div class="box">
      <input style="padding-right: 32px;"
      [type]="showPassword ? 'text' : 'password'"
        [ngClass]="{
          'input-error':
            (submitted && form.controls.Password.status == 'INVALID') ||
            (form.controls.Password.touched &&
              form.controls.Password.status == 'INVALID')
        }"
        placeholder="New Password*"
        class="input"
        formControlName="Password"
      />
      <i class="eyeIcon"
            [class]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"
            (click)="eyeIconClick()"
          ></i>
      <div>
        <mat-error
          *ngIf="
            (submitted && form.controls.Password.status == 'INVALID') ||
            (form.controls.Password.touched &&
              form.controls.Password.status == 'INVALID')
          "
          >Please enter password.</mat-error
        >
      </div>
    </div>
    <div class="box">
      <input style="padding-right: 32px;"
      [type]="showConfirmPassword ? 'text' : 'password'"
        [ngClass]="{
          'input-error':
            (submitted && form.controls.ConfirmPassword.status == 'INVALID') ||
            (form.controls.ConfirmPassword.touched &&
              form.controls.ConfirmPassword.status == 'INVALID')
        }"
        placeholder="Confirm Password*"
        class="input"
        formControlName="ConfirmPassword"
      />
      <i class="eyeIcon"
            [class]="showConfirmPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"
            (click)="eyeIconClickConfirmPassword()"
          ></i>
      <div>
        <mat-error
          *ngIf="
            (submitted && form.controls.ConfirmPassword.status == 'INVALID') ||
            (form.controls.ConfirmPassword.touched &&
              form.controls.ConfirmPassword.status == 'INVALID')
          "
          >Please re-enter your password.</mat-error
        >
      </div>
    </div>
  </div>

  <div>
    <mat-error>{{ errorMessage }}</mat-error>
  </div>
  <div style="padding: 20px 10px 10px 10px">
    <button class="popUpButton" style="margin-right: 10px" (click)="cancel()">
      Cancel
    </button>
    <button class="popUpButton" (click)="resetPassword()">Reset</button>
  </div>
</div>
