<div
  style="
    overflow: scroll;
    height: 100vh;
    overflow-x: hidden;
    padding-bottom: 1%;
  "
>
  <div class="mainPadding">
    <div class="mainBorder">
      <input
        placeholder="Search"
        style="
          height: 30px;
          width: 90%;
          border-radius: 9px;
          border: 1px solid grey;
          padding-left: 10px;
          margin: 20px 0 20px 10px;
        "
      />
    </div>
    <div style="padding-top: 8%">
      <div class="mainBorder" style="padding: 0">
        <div style="border-bottom: 1px solid #0a3754">
          <div style="margin: 6%">What's happening</div>
        </div>
        <div
          *ngFor="let happen of happeningData"
          style="padding: 6%; border-bottom: 1px solid #0a3754"
        >
          <div>{{ happen.topic }}</div>
          <div style="color: darkgoldenrod">{{ happen.trending }}</div>
          <div style="color: darkgrey">{{ happen.noOfTweets }}</div>
        </div>
      </div>
    </div>

    <div style="padding-top: 8%">
      <div class="mainBorder" style="padding: 0">
        <div style="border-bottom: 1px solid #0a3754">
          <div style="margin: 6%">Who to follow</div>
        </div>
        <div style="padding: 6%; border-bottom: 1px solid #0a3754">
          <div style="display: flex; align-items: center;">
            <div style="width: 20%">
              <div
                class="ind-post-data"
                style="
                  border: 1px solid #151414;
                  border-radius: 50%;
                  margin-right: 2%;
                "
              >
                <img
                class="profilePic" alt="Avatar"
                  src="{{ imgUrl }}"
                />
              </div>
            </div>
            <div style="width: 60%">
              <div class="name">Ana De Armas</div>
              <div class="userName">@anadearmas</div>
            </div>
            <div style="width: 20%">
              <div class="mainButton">Follow</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
